<ul style="list-style-type: none;">
                                                            <li> <i class="material-icons">access_time</i> <span class="md-caption">June 11th, 2016</span> </li>
                                                            <li> <i class="material-icons">location_on</i> <span class="md-caption">ME</span> </li>
                                                            <li> <i class="material-icons">supervisor_account</i> <span class="md-caption">
                                                            Melee Singles / Melee Doubles du texte nousghoreghoireolhmepkpetê </span> </li>
                                                        </ul>

