<div layout="row" layout-align="space-around center">
<md-tabs class="maintab" md-dynamic-height md-stretch-tabs="always" md-border-bottom="" align="center" flex-gt-xs="100" flex-xs="100"flex-gt-sm="80"flex-gt-md="60"  md-no-ink-bar>
  <md-tab ng-repeat="index in [0,1,2,3]" label=".">
    <md-content class="md-padding" layout-align="space-between center">  
      <div layout="column" layout-align="space-between center">
        <md-card flex layout-fill class="md-whiteframe-15dp">
          <iframe height="400" frameborder="0" scrolling="no"src="https://player.twitch.tv/?channel=nvidiafrance">
            <a href="https://www.twitch.tv/nvidiafrance?tt_medium=live_embed&tt_content=text_link"></a>
          </iframe> 
        </md-card>
        <md-card flex layout-fill class="md-whiteframe-15dp">
          <iframe frameborder="0" scrolling="no" src="https://www.twitch.tv/nvidiafrance/chat?popout="></iframe> 
        </md-card>
      </div>
    </md-content>
  </md-tab>
</md-tabs>
</div>



